<ion-content padding>
  <ion-row>
    <ion-col (click)="goBack()" col-2 offset-10>
      <img class="close" src="assets/imgs/login/close.png" alt="">
    </ion-col>
  </ion-row>
  <ion-row class="headling-container">
    <ion-col col-12 text-center>
      <img src="assets/imgs/forgot-password/desc.png" alt="">
    </ion-col>
    <ion-item *ngIf="!sendCodeMode">
      <ion-input type="email" name="email" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item *ngIf="sendCodeMode">
      <ion-input type="text" name="code" [(ngModel)]="code" placeholder="Code"></ion-input>
    </ion-item>
    <ion-item *ngIf="sendCodeMode">
      <ion-input type="password" name="password" [(ngModel)]="password" placeholder="password"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row margin-top>
    <ion-col col-12 text-center>
      <img src="assets/imgs/forgot-password/reset.png" (click)="sendCode()" alt="">
    </ion-col>
  </ion-row>
</ion-content>
