page-all-packages {
  .packages-container {
    margin-left: 10px;
    h3 {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .img-container {
      position: relative;
      text-align: center;
      color: white;
    }
    /* Bottom right text */
    .bottom-right {
      position: absolute;
      bottom: 8px;
      right: 16px;
    }
    /* Bottom left text */
    .bottom-left {
      position: absolute;
      bottom: 7px;
      left: 0px;
      right: 0px;
      text-align: left;
      background: rgba(0, 0, 0, .6);
      height: 45px;
      padding-left: 7px;
    }
    .bottom-all {
      position: absolute;
      bottom: 0px;
      height: 30px;
      left: 0px;
      background: #000;
      opacity: .7;
    }
    .package-image {
      width: 100%;
      height: 170px;
    }
    .package-name {
      font-size: 2em;
    }
    .price-amount {
      font-size: 2.6em;
    }
    .currency {
      color: orangered;
      font-size: 1.2em !important;
    }
    .pacakge-bullet {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 1.2em;
      color: #333;
    }
    .pacakge-action {
      background: linear-gradient(to left, #2b2e35, #939497);
      padding: 10px 0px;
      color: #fff;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
  .package-outer-container {
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .package-action {
    background: linear-gradient(to left, #2b2e35, #939497);
    padding: 10px 0px;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}
