page-my-plans {
  ion-content {
    background-image: url('../assets/imgs/dashboard/bg.png');
    background-size: cover;
  }
  ion-segment {
    // margin-top: 27px;
    background-color: #272727;
  } // .segment-ios-primary .segment-button {
  //   border: none;
  // }
  // .segment-ios-primary .segment-button.segment-activated {
  //   color: #f06886;
  //   background-color: transparent;
  //   border-bottom: 5px solid #f06886;
  // }
  // .segment-ios-primary .segment-button {
  //   color: #fff;
  //   font-family: "MontExtraBold"
  // }
  .follower-title {
    color: #fff;
    padding-left: 10px;
  }
  .follower-container {
    position: relative;
  }
  .vendor-img {
    height: 150px;
  }
  .vendor-title {
    position: absolute;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    margin-top: -29px;
    font-size: 1em;
    // position: absolute;
    bottom: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(#292933));
    background: linear-gradient(rgba(255, 0, 0, 0), #292933);
    width: 100%;
    padding-bottom: 5px;
    // padding-left: 20px;
  }
  .deal-wrapper{
    // position: fixed;
    // top: 17%;
  }
  .deal-outer-container {
    // margin-top: 14%;
  }
  .left-side-deal {}
  .right-side-deal {}
  .client-name,
  .client-type {
    color: #fff;
  }
  .client-name {
    font-size: 1em;
    margin-top: 10px;
  }
  .client-type {
    margin-top: 5px;
    margin-bottom: 15px
  }
  .client-status {
    color: #fff;
    font-size: .9em;
    display: inline-block;
    margin-top: 7px;
  }
  .left-side-deal {
    color: #fff; // padding: 10px 0px;
  }
  .package-title {
    margin-top: 15px;
    font-size: 1.2em;
  }
  .package-name {
    font-size: 1.5em;
  }
  .view-desc {
    margin-bottom: 15px;
    font-size: 1.2em;
  }
  .price-title {
    margin-top: 10px;
    color: #fff;
    font-size: 1.3em;
  }
  .price-amount {
    font-size: 1.5em;
  }
  .currency {
    color: #bf8313;
  }
  .details-inner-container {
    margin-left: 20px;
    div {
      margin: 7px 0px;
    }
  }
  .event-date-title {
    font-size: 1.2em;
  }
  .event-date {
    font-size: 1.3em;
  }
  .from-to {
    font-size: .8em !important;
  }
  .user-note-title {
    margin-top: 15px !important;
  }
  .package-action {
    color: #fff;
    font-size: 1.3em; // margin-bottom: 50px;
  }
  .open {
    margin-bottom: 7px;
  }
  .open-first {
    margin-bottom: -13px;
  }
  .deal-container.second {
    margin-top: -9px;
  }
  .deal-container {
    background-image: url('../assets/imgs/orders/deal-bg.png');
    background-size: 100% 100%;
    min-height: 50px;
    margin-top: 12px;
  }
  img.oval {
    width: 10px;
  }
  .trash-container {
    // background: #a5a5a5;
    // padding: 10px;
    // border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: #fff;
    margin-bottom: 16px;
    ion-icon {
      color: #fff;
      margin: 10px 0px;
      font-size: 1.4em;
    }
  }
  .trash-img {
    margin-top: 12px;
  }
  .nudge-icon {}
  ion-segment {
    width: 95%;
    margin: auto;
    // position: fixed;
    // top: 8%;
    // left: 2%;
  }
  .segment-ios .segment-button {
    padding-top: 10px;
    font-family: sans-serif;
    padding-bottom: 10px;
    height: 50px;
  }
  .budget-calc-container{
    // position: fixed;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    button{
      // margin-bottom: 0px;
    }
  }
  .following-container{
    margin-top: 11%;
  }
  span.button-inner{
    font-family: "MontLight", sans-serif !important;
  }
}
